<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></a></h1>
      
    </li>
  </ul>



  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Sell a Home", sellahome_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Buy a Home", buyahome_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Lease a Home", leaseahome_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Contact Us", contactus_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Testimonials", testimonials_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Biography", biography_path %></li>
      <li class="divider"></li>
      <li><%= link_to "The Woodlands", woodlands_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Rayford Corridor", rayford_path %></li>
    </ul>
  </div>
</nav>